:root {
  --shadow-distance: 5px;
  --shadow-blur: 15px;

  /* Default, extruded shadow */
  --shadow-neumorphic: 
    var(--shadow-distance) var(--shadow-distance) var(--shadow-blur) var(--color-dark-shadow),
    calc(var(--shadow-distance) * -1) calc(var(--shadow-distance) * -1) var(--shadow-blur) var(--color-light-shadow);

  /* Inset shadow for pressed state */
  --shadow-neumorphic-inset: 
    inset var(--shadow-distance) var(--shadow-distance) var(--shadow-blur) var(--color-dark-shadow),
    inset calc(var(--shadow-distance) * -1) calc(var(--shadow-distance) * -1) var(--shadow-blur) var(--color-light-shadow);
} 